.image-gallery__row {
	display: flex;
}

.image-gallery__item {
	margin-right: 5px;
}

.image-gallery__image {
  object-fit: cover;
  width: 100%;
  height: 40vh;
  border-radius: 10px;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}
	.image-gallery__image:hover {
		opacity: 1;
	}