<div class="image-viewer__image-view">
    <div class="image-viewer__image-view__arrow-prev"
      ng-click="$ctrl.prevPhoto()">
    </div>
    <div class="image-viewer__image-view__arrow-next"
      ng-click="$ctrl.nextPhoto()">
    </div>

  <div class="image-viewer__image-view__container">
    <img ng-repeat="photo in $ctrl.photos"
      ng-if="$index == $ctrl.id"
      class="image-viewer__image-view__image-active"
      ng-src="{{photo.urls[photo.urls.length-2].url}}" 
      alt="{{photo.title}}" 
      ng-click="$ctrl.openOriginalImage()">
  </div>
</div>