<div class="image-gallery-row">
  <a ng-repeat="photo in photos | limitTo:3:0"
    class="image-gallery-item" 
    ng-style="{flex: {{photo.urls[thumbnailSize].width}}}"
    ui-sref="imageView"
    ng-click="selectPhoto($index);">

    <img ng-src="{{photo.urls[thumbnailSize].url}}" 
      alt="{{photo.title}}" 
      class="image-gallery-image">
  
  </a>
</div>

<div class="image-gallery-row">
  <a ng-repeat="photo in photos | limitTo:3:3"
    class="image-gallery-item" 
    ng-style="{flex: {{photo.urls[thumbnailSize].width}}}"
    ui-sref="imageView"
    ng-click="selectPhoto($index+3);">

    <img ng-src="{{photo.urls[thumbnailSize].url}}" 
      alt="{{photo.title}}" 
      class="image-gallery-image">

  </a>
</div>