.image-gallery-row {
  display: flex;
}

.image-gallery-item {
  margin-right: 5px;
}

.image-gallery-image {
  cursor: pointer;
  object-fit: cover;
  width: 100%;
  height: 40vh;
  border-radius: 10px;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}
  .image-gallery-image:hover {
    opacity: 1;
  }