<div class="image-gallery-row">
  <a ng-repeat="photo in $ctrl.photos | limitTo:3:0"
    class="image-gallery-item" 
    ng-style="{flex: {{photo.urls[$ctrl.thumbnailSize].width}}}"
    ui-sref="imageView"
    ng-click="$ctrl.flickrApi.setSelectedPhotoId($index);">

    <img ng-src="{{photo.urls[$ctrl.thumbnailSize].url}}" 
      alt="{{photo.title}}" 
      class="image-gallery-image">
  
  </a>
</div>

<div class="image-gallery-row">
  <a ng-repeat="photo in $ctrl.photos | limitTo:3:3"
    class="image-gallery-item" 
    ng-style="{flex: {{photo.urls[$ctrl.thumbnailSize].width}}}"
    ui-sref="imageView"
    ng-click="$ctrl.flickrApi.setSelectedPhotoId($index+3);">

    <img ng-src="{{photo.urls[$ctrl.thumbnailSize].url}}" 
      alt="{{photo.title}}" 
      class="image-gallery-image">

  </a>
</div>